extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1 #{projects[projectID].project_name}
        p #{projects[projectID].description}
      .project-tech-links-box.box
        h6 Technologies
        ul
          each item in projects[projectID].technologies
            li= item
        a.btn-link(href=`${projects[projectID].live_link}`, target="_blank") Live Demo
        a.btn-link(href=`${projects[projectID].github_link}`, target="_blank") GitHub Repo
    .project-img-box.box
      each item in projects[projectID].image_urls
        img.project-img(src=`/static/imgs/${item}`, alt=`Snapshot from ${projects[projectID].project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
